<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h1><a href="{{ '/' | absolute_url }}">{{ site.author }}</a></h1>

        <p>{{ site.description }}</p>

        <h2>
        {% if site.cv %}
          <a href="{{site.cv | relative_url}}"><i class="bi bi-file-earmark-text"></i></a>
        {% endif %}
        {% if site.google_scholar %}
        <a href="{{site.google_scholar}}"><i class="bi bi-mortarboard-fill"></i></a>
        {% endif %}
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}"><i class="bi bi-github"></i></a>
        {% endif %}
 
        {% if site.linkedin %}
          <a href="{{site.linkedin}}"><i class="bi bi-linkedin"></i></a>
        {% endif %}
        {% if site.twitter %}
          <a href="{{site.twitter}}"><i class="bi bi-twitter"></i></a>
        {% endif %}
        {% if site.mastodon %}
          <a href="{{site.mastodon}}"><i class="bi bi-mastodon"></i></a>
        {% endif %}
        {% if site.instagram %}
          <a href="{{site.instagram}}"><i class="bi bi-instagram"></i></a>
        {% endif %}
        {% if site.threads %}
          <a href="{{site.threads}}"><i class="bi bi-threads"></i></a>
        {% endif %}
        {% if site.facebook %}
          <a href="{{site.facebook}}"><i class="bi bi-facebook"></i></a>
        {% endif %}
        {% if site.youtube %}
          <a href="{{site.youtube}}"><i class="bi bi-youtube"></i></a>
        {% endif %}
          </h2>


      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
  {% include foot-custom.html %}

</html>
